.aims__aim-list {
  @include clear-ul-format;
  margin: 0;
}

.aims__aim-item {
  position: relative;
  background-color: $lightgray;
  padding: 22px 20px;
  margin-top: 20px;

  min-height: 266px;

  &::before {
    content: "";
    position: absolute;
    z-index: 10;

    left: 22px;
    top: 24px;
    width: 50px;
    height: 50px;

    background-color: $green;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 20;
  }

  &--lose-weight::after {
    left: 30px;
    top: 22px;
    width: 35px;
    height: 49px;

    background-image: url("../img/icon-cat-slim.svg");
  }

  &--gain-weight::after {
    left: 13px;
    top: 35px;
    width: 67px;
    height: 28px;

    background-image: url("../img/icon-cat-pro.svg");
  }

}

.aims__aim-title {
  @include clear-margin-padding;
  display: block;
  padding-left: 72px;
  margin-top: 8px;

  color: $verydarkgray;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
}

.aims__description {
  @include clear-margin-padding;
  margin-top: 30px;
  padding-bottom: 23px;

  color: $gray;
  font-family: $font-family-secondary;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  border-bottom: 1px solid $lightgray5;
}

.aims__aim-link {
  display: block;
  color: $verydarkgray;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;

  margin-top: 18px;
}

@media (min-width: $tablet-width) {
  .aims__aim-item {
    margin-top: 0;
    padding: 75px 280px 62px 52px;
    min-height: 371px;

    display: flex;
    flex-direction: column;

    & + & {
      margin-top: 30px;
    }

    &::before {
      left: 446px;
      top: 92px;
      width: 200px;
      height: 200px;
    }

    &--lose-weight::after {
      left: 476px;
      top: 80px;
      width: 140px;
      height: 194px;
    }

    &--gain-weight::after {
      left: 412px;
      top: 135px;
      width: 268px;
      height: 112px;
    }
  }

  .aims__aim-title {
    @include clear-margin-padding;

    font-size: 36px;
  }

  .aims__description {
    margin-top: 26px;

    font-size: 16px;
    line-height: 24px;

    border-bottom: none;
  }

  .aims__aim-link {
    border: none;

    font-size: 20px;
    line-height: 20px;

    margin-top: auto;
  }
}

@media (min-width: $desktop-width) {
  .aims__aim-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .aims__aim-item {
    width: 570px;
    min-height: 372px;
    padding: 75px 52px 62px;
    margin-top: 80px;

    & + & {
      margin-top: 80px;
      margin-left: 80px;
    }

    &::before {
      left: 52px;
      top: 47px;
      width: 100px;
      height: 100px;
    }

    &--lose-weight::after {
      left: 66px;
      top: 41px;
      width: 70px;
      height: 97px;
    }

    &--gain-weight::after {
      left: 34px;
      top: 69px;
      width: 134px;
      height: 56px;
    }
  }

  .aims__aim-title {
    margin-left: 164px;
  }

  .aims__description {
    margin-top: 75px;
  }

}
