.cases {
  background-color: $lightgray;
  padding: 20px;
}

.cases__title {
  color: $verydarkgray;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.cases__list {
  @include clear-ul-format;
}

.cases__description {
  color: $gray;
  font-family: $font-family-secondary;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.cases__result-name {
  margin: 0;
  padding: 0;
  color: $gray;
  font-family: $font-family-secondary;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;

  &.cases__result-name--cost {
    display: inline;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-family: $font-family-base;
  }
}

.cases__result-value {
  margin: 0;
  padding: 0;
  color: $verydarkgray;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;

  &.cases__result-value--cost {
    display: inline;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-family: $font-family-base;
  }
}

.cases__result-item--cost {
  text-align: left;
}


.cases__before-after-button {
  color: $verydarkgray;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
