.cases {
  padding-top: 5px;
  padding-bottom: 25px;
  background-color: $lightgray;
  //padding: 15px $mobile-margins 30px;
}

.cases__info {
  padding: 10px $mobile-margins 10px;
}

.cases__title {
  @include clear-margin-padding;
  color: $verydarkgray;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.cases__list {
  @include clear-ul-format;
  margin: 0;
}

.cases__description {
  @include clear-margin-padding;
  margin-top: 26px;

  color: $gray;
  font-family: $font-family-secondary;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.cases__result-list {
  @include clear-margin-padding;
  margin-top: 25px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cases__result-item {
  position: relative;
  width: 125px;
  padding-top: 13px;

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid $lightgray2;
  border-radius: 3px;

  &--cost {
    @include clear-margin-padding;
    margin-top: 35px;

    flex-grow: 1;
    flex-direction: row;
    text-align: center;

    border: none;
    width: auto;
  }
}

.cases__result-name {
  position: relative;
  margin: 0;
  margin-top: -7px;
  padding: 0 5px;
  color: $gray;
  font-family: $font-family-secondary;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-transform: lowercase;

  top: 16px;
  max-width: 87px;

  background-color: $lightgray;

  order: 1;

  &--cost {
    @include clear-margin-padding;
    position: static;
    display: inline;
    order: 0;

    width: auto;
    max-width: none;
    margin-left: auto;

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-family: $font-family-base;
    text-transform: uppercase;

    background-color: transparent;
  }
}

.cases__result-value {
  margin: 0;
  padding: 0;
  color: $verydarkgray;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;

  &--cost {
    @include clear-margin-padding;

    margin-right: auto;

    display: inline;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-family: $font-family-base;
  }
}

.cases__widget {
  margin: 0;
  margin-top: 33px;

  min-height: 330px;
}

.case__img-wrapper {
  position: relative;
  width: 320px;
  height: 240px;
}

.cases__img {
  max-width: none;
  width: 320px;
  height: 240px;
}

.cases__widget-frame {
  position: absolute;

  width: 320px;
  height: 240px;
  overflow: hidden;

  &--before {
    z-index: 2;
    background-color: $lightgray;
    width: 100%;
  }

  &--after {
    z-index: 1;
  }
}

.cases__toggle {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 210px;

  margin: 0 auto;
  margin-top: 23px;
  margin-bottom: 38px;
  border: none;
}

.cases__toggle-button {
  color: $verydarkgray;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  box-shadow: none;
  background-color: inherit;
}

.cases__toggle_range {
  position: relative;

  width: 84px;
  height: 14px;
  background-color: $white;
  border-radius: 6px;
  border: 1px solid $lightgray6;
}

.cases__toggle-indicator {
  position: absolute;

  top: 50%;
  transform: translateY(-50%);

  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: $green;

  &--before,
  &--middle {
    left: 6px;
  }

  &--after {
    right: 6px;
  }
}

@media (min-width: $tablet-width) {
  .cases {
    padding: 30px $tablet-margins 57px;
    background-color: inherit;
    background-image: linear-gradient(to top, $lightgray 462px, transparent 462px);
  }

  .cases__info {
    padding: 15px $tablet-margins 10px;
  }

  .cases__title {
    font-size: 60px;
    margin-top: 15px;
  }

  .cases__description {
    margin-top: 63px;
    font-size: 16px;
    line-height: 24px;

    width: 680px;
  }

  .cases__result-list {
    margin-top: 52px;
  }

  .cases__result-item {
    width: 162px;
    padding-top: 15px;

    &--cost {
      @include clear-margin-padding;
      display: block;
      align-self: center;
      text-align: left;

      margin-left: auto;

      font-family: $font-family-base;
    }

    & + & {
      margin-left: 42px;
    }
  }

  .cases__result-value {
    display: block;
    font-size: 30px;
    line-height: 37px;

    &--cost {
      @include clear-margin-padding;
      font-size: 20px;
      line-height: 20px;

      text-align: right;

      margin-top: 10px;
    }
  }

  .cases__result-name {
    display: block;
    background-color: $white;
    max-width: 145px;
    top: 6px;

    font-size: 14px;
    line-height: 14px;

    margin-top: 4px;

    &--cost {
      @include clear-margin-padding;
      font-size: 20px;
      line-height: 20px;
      text-align: right;
      max-width: none;
    }
  }

  .cases__widget {
    margin-top: 75px;
  }

  .case__img-wrapper {
    width: 690px;
    height: 517px;
    margin: 0 auto;
  }

  .cases__img {
    width: 690px;
    height: 517px;
  }

  .cases__widget-frame {
    width: 690px;
    height: 517px;

    &--before {
      z-index: 2;
      background-image: linear-gradient(to top, $lightgray 346px, $white 346px);
      width: 50%;
    }

    &--after {
      z-index: 1;
    }
  }

  .cases__toggle {
    width: 582px;
    margin-top: 20px;
  }

  .cases__toggle-button {
    font-size: 20px;
  }

  .cases__toggle_range {
    width: 430px;
    height: 6px;
    border-radius: 3px;
    background-color: $lightgray6;
  }

  .cases__toggle-indicator {
    width: 34px;
    height: 34px;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border: 1px solid $lightgray6;
    background-color: $white;
    border-radius: 17px;

    &::before {
      content: "";
      position: absolute;
      left: 13px;
      top: 13px;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      background-color: $green;
    }

    &--middle {
      left: calc(50% - 16px);
    }
  }
}

@media (min-width: $desktop-width) {
  .cases {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 75px;
  }

  .cases__item {
    padding-left: $desktop-margins;
    padding-right: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .cases__info {
    @include clear-margin-padding;
    padding-top: 59px;
  }

  .cases__widget {
    @include clear-margin-padding;
    padding-top: 0;
    width: 690px;
  }

  .cases__title {
    margin-top: 72px;
  }

  .cases__description {
    width: 435px;
    margin-top: 145px;
  }

  .cases__result-list {
    width: 366px;
    margin-top: 70px;
  }

  .cases__result-item {
    @include clear-margin-padding;

    & + & {
      @include clear-margin-padding;
    }

    &--cost {
      margin-right: auto;

      width: 330px;
      flex-direction: row;
    }

    &:last-child {
      margin-top: 60px;
    }
  }

  .cases__result-name {
    background-color: $lightgray;
    margin-top: 7px;

    &--cost {
      @include clear-margin-padding;
      display: inline;
      text-align: left;

      max-width: none;
      font-size: 20px;
      line-height: 20px;
    }
  }

  .cases__result-value {
    margin-top: 14px;

    &--cost {
      @include clear-margin-padding;
      display: inline;

      text-align: left;

      font-size: 20px;
      line-height: 20px;

      margin-left: 64px;
    }
  }

  .case__img-wrapper {
    width: 690px;
    height: 517px;
    margin: 0;
    margin-right: -100px;
  }

  .cases__widget-frame {
    &--before {
      background-image: linear-gradient(to top, $lightgray 322px, $white 322px);
    }
  }

  .cases__toggle {
    margin-top: 45px;
    margin-right: 35px;
    width: 580px;
  }
}
