.choice-program-form {
  padding-top: 5px;
}

.choice-program-form__form {
  display: flex;
  flex-direction: column;

  padding-top: 5px;
}

.choice-program-form__cat-data-fields {
  @include clear-ul-format;
  margin: 0;
  margin-top: 15px;
  padding-top: 5px;
  padding-bottom: 23px;
}

.choice-program-form__description {
  @include clear-margin-padding;

  color: $verydarkgray;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.choice-program-form__choice-aim {
  @include clear-ul-format;
  margin: 0;
  padding-top: 9px;
  padding-bottom: 22px;

  border: 1px solid $lightgray4;
}

.choice-program-form__owner-data-fields {
  @include clear-ul-format;
  margin: 0;
  margin-top: 30px;
}

.choice-program-form__field-additional {
  @include clear-ul-format;
  margin: 0;
  margin-top: 15px;
  padding-top: 5px;
  width: 100%;
}

.choice-program-form__label {
  color: $darkgray;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.choice-program-form__text {
  color: $gray;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  height: 45px;
  flex-grow: 1;
  margin-left: 15px;
}

.choice-program-form__radio {
  width: 30px;
  height: 30px;
}

.choice-program-form__checkbox {
  width: 30px;
  height: 30px;
}

.choice-program-form__owner-data-fieldset,
.choice-program-form__comments-fieldset,
.choice-program-form__additional-fieldset {
  @include clear-margin-padding;
  margin-top: 25px;
  padding-top: 5px;

  min-width: 630px;

  border: none;
}

.choice-program-form__field {
  display: flex;
  align-items: center;

  &--text {
    margin-top: 14px;
  }

  &--radio {
    margin-top: 12px;
  }

  &--check {
    margin-top: 12px;
  }
}

.choice-program-form__legend {
  display: block;
  color: $verydarkgray;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  width: 185px;
}

.choice-program-form__comments {
  @include clear-margin-padding;
  margin-top: 33px;
  width: 100%;
  height: 150px;

  color: $gray;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}

.choice-program-form__note {
  @include clear-margin-padding;
  margin-top: 20px;

  color: $gray;
  font-family: $font-family-secondary;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

  text-align: center;
}

.choice-program-form__submit-button {
  margin-top: 34px;
}

@media (min-width: $tablet-width) {
  .choice-program-form__form {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .choice-program-form__description {
    width: 330px;

    font-size: 20px;
    line-height: 30px;
  }

  .choice-program-form__cat-data-fields {
    margin-top: 37px;
    min-width: 630px;
  }

  .choice-program-form__field {
    &--text {
      margin-top: 20px;
    }

    &--radio {
      margin-top: 13px;
    }
  }

  .choice-program-form__label {
    font-size: 20px;
    line-height: 20px;
  }

  .choice-program-form__text {
    font-size: 20px;
    line-height: 20px;
    height: 52px;
  }

  .choice-program-form__choice-aim {
    margin-top: 55px;
    padding: 4px 28px 25px;

    border: 1px solid $lightgray4;

    min-width: 630px;
  }

  .choice-program-form__radio {
    width: 40px;
    height: 40px;
  }

  .choice-program-form__checkbox {
    width: 40px;
    height: 40px;
  }

  .choice-program-form__owner-data-fieldset {
    margin-top: 74px;
  }

  .choice-program-form__comments-fieldset {
    margin-top: 60px;
  }

  .choice-program-form__legend {
    font-size: 36px;
    line-height: 36px;
    width: 630px;
  }

  .choice-program-form__owner-data-fields {
    margin-top: 70px;
  }

  .choice-program-form__comments {
    margin-top: 77px;
    height: 174px;
    text-align: left;

    font-size: 20px;
    line-height: 30px;
  }

  .choice-program-form__additional-fieldset {
    margin-top: 63px;
  }

  .choice-program-form__field-additional {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .choice-program-form__field-additional-item {
    width: 285px;
    margin-top: 32px;
  }

  .choice-program-form__submit-button {
    margin-top: 54px;
    height: 52px;
    width: 283px;

    display: inline-block;
    vertical-align: middle;
  }

  .choice-program-form__note {
    display: inline-block;
    vertical-align: middle;
    margin-left: 61px;

    font-size: 16px;
    line-height: 16px;
    width: 200px;
  }
}

@media (min-width: $desktop-width) {
  .choice-program-form__cat-data-fields {
    min-width: 570px;
    padding-bottom: 0;
  }

  .choice-program-form__choice-aim {
    min-width: 570px;
    margin-left: 80px;
    padding-bottom: 0;
  }

  .choice-program-form__owner-data-fieldset {
    margin-top: 70px;
  }

  .choice-program-form__owner-data-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 49px;
    min-width: 1220px;
  }

  .choice-program-form__comments-fieldset {
    min-width: 1220px;
  }

  .choice-program-form__owner-email {
    width: 568px;
  }

  .choice-program-form__owner-phone {
    width: 572px;
  }

  .choice-program-form__field-additional {
    min-width: 1220px;
  }

  .choice-program-form__field-additional-item {
    width: 245px;
    margin-top: 35px;
  }

  .choice-program-form__submit-button {
    margin-top: 61px;
  }
}
