.choice-program-form {
  padding-top: 5px;
}

.choice-program-form__form {
  padding-top: 5px;
}

.choice-program-form__cat-data-fields {
  @include clear-ul-format;
  margin: 0;
  margin-top: 15px;
  padding-top: 5px;
  padding-bottom: 23px;
}

.choice-program-form__description {
  @include clear-margin-padding;

  color: $verydarkgray;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.choice-program-form__choice-aim {
  @include clear-ul-format;
  margin: 0;
  padding: 9px $mobile-margins 22px;

  border: 1px solid $lightgray4;
}

.choice-program-form__label {
  color: $darkgray;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  flex-shrink: 0;
}

.choice-program-form__owner-data-fields {
  @include clear-ul-format;
  margin: 0;
  margin-top: 30px;
}

.choice-program-form__field-additional {
  @include clear-ul-format;
  margin: 0;
  margin-top: 20px;
  padding-top: 5px;
  width: 100%;
}

.choice-program-form__text,
.choice-program-form__comments {
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: middle;
  border: 1px solid $lightgray6-opacity05;

  &:hover {
    border-color: $lightgray6;
  }

  &:active,
  &:focus {
    outline: none;
    border: 1px solid $gray;
    box-shadow: 0 0 0 1px $gray;
    vertical-align: middle;
  }

  &--error {
    border: 1px solid $red;
    box-shadow: 0 0 0 1px $red;
  }
}

.choice-program-form__text {
  position: relative;
  color: $gray;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  height: 45px;
  flex-grow: 1;
  width: 100%;
  margin-left: 15px;

  &--email {
    background-image: url(../img/icon-mail.svg);
    background-size: 17px 13px;
    background-position-x: calc(100% - 16px);
    background-position-y: center;
    background-repeat: no-repeat;
    background-origin: border-box;
    padding-right: 40px;
  }

  &--phone {
    background-origin: border-box;
    background-image: url(../img/icon-phone.svg);
    background-size: 20px 20px;
    background-position-x: calc(100% - 13px);
    background-position-y: center;
    background-repeat: no-repeat;
    padding-right: 40px;
  }
}

.choice-program-form__radio,
.choice-program-form__checkbox {
  width: 30px;
  height: 30px;

  & + .choice-program-form__label {
    position: relative;
    display: flex;
    align-items: center;

    &::before {
      content: "";

      width: 30px;
      height: 30px;
      border: 1px solid $lightgray6;
      border-radius: 20px;
      margin-right: 15px;
    }

    &:hover {
      &::before {
        border-color: $lightgray9;
      }
    }

    &:active {
      opacity: 0.3;
    }
  }

  &:checked + .choice-program-form__label {
    & + .choice-program-form__label {
      &::before {
        border-radius: 0;
      }
    }

    &::after {
      content: "";
      position: absolute;

      left: 9px;
      top: 9px;
      width: 12px;
      height: 12px;
      border-radius: 6px;
      background-color: $green;
    }
  }
}

.choice-program-form__checkbox {
  & + .choice-program-form__label {
    &::before {
      border-radius: 0;
    }
  }

  &:checked + .choice-program-form__label {
    &::after {
      left: 5px;
      top: 7px;
      width: 21px;
      height: 16px;
      background-image: url("../img/icon-tick.svg");
      background-color: transparent;
    }
  }
}

.choice-program-form__owner-data-fieldset,
.choice-program-form__comments-fieldset,
.choice-program-form__additional-fieldset {
  @include clear-margin-padding;
  margin-top: 23px;

  padding-top: 5px;

  border: none;
}

.choice-program-form__field {
  display: flex;
  align-items: center;

  &--text {
    margin-top: 14px;
  }

  &--radio {
    margin-top: 12px;
  }

  &--check {
    margin-top: 12px;
  }
}

.choice-program-form__legend {
  display: block;
  color: $verydarkgray;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  //width: 185px;
}

.choice-program-form__comments {
  @include clear-margin-padding;
  margin-top: 33px;
  width: 100%;
  height: 150px;

  padding: 15px;

  color: $gray;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}

.choice-program-form__note {
  @include clear-margin-padding;
  margin-top: 24px;

  color: $gray;
  font-family: $font-family-secondary;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

  text-align: center;
}

.choice-program-form__submit-button {
  margin-top: 32px;
  width: 280px;
}

.standard-margings {
  margin-left: $mobile-margins;
  margin-right: $mobile-margins;
}

@media (min-width: $tablet-width) {
  .choice-program-form__description {
    width: 330px;

    font-size: 20px;
    line-height: 30px;
  }

  .choice-program-form__cat-data-fields {
    margin-top: 37px;
    min-width: 630px;
  }

  .choice-program-form__field {
    &--text {
      margin-top: 20px;
    }

    &--radio {
      margin-top: 13px;
    }
  }

  .choice-program-form__label {
    font-size: 20px;
    line-height: 20px;
  }

  .choice-program-form__text {
    font-size: 20px;
    line-height: 20px;
    height: 52px;

    &--email {
      background-position-x: calc(100% - 20px);
      padding-right: 50px;
    }

    &--phone {
      background-position-x: calc(100% - 20px);
      padding-right: 50px;
    }
  }

  .choice-program-form__choice-aim {
    margin-top: 55px;
    padding: 4px 28px 25px;

    border: 1px solid $lightgray4;

    min-width: 630px;
  }

  .choice-program-form__radio,
  .choice-program-form__checkbox {
    width: 40px;
    height: 40px;

    & + .choice-program-form__label {

      &::before {
        content: "";

        width: 40px;
        height: 40px;
        border-radius: 20px;
        margin-right: 19px;
      }
    }

    &:checked + .choice-program-form__label {
      &::after {
        left: 11px;
        top: 11px;
        width: 18px;
        height: 18px;
        border-radius: 9px;
        background-color: $green;
      }
    }
  }

  .choice-program-form__checkbox {
    & + .choice-program-form__label {
      &::before {
        border-radius: 0;
      }
    }

    &:checked + .choice-program-form__label {
      &::after {
        left: 10px;
        top: 11px;
        width: 21px;
        height: 16px;
        background-image: url("../img/icon-tick.svg");
        background-color: transparent;
      }
    }
  }

  .choice-program-form__owner-data-fieldset {
    margin-top: 69px;
  }

  .choice-program-form__comments-fieldset {
    margin-top: 60px;
  }

  .choice-program-form__legend {
    font-size: 36px;
    line-height: 36px;
    //width: 630px;
  }

  .choice-program-form__owner-data-fields {
    margin-top: 75px;
  }

  .choice-program-form__comments {
    margin-top: 77px;
    height: 174px;
    text-align: left;

    font-size: 20px;
    line-height: 30px;
  }

  .choice-program-form__additional-fieldset {
    margin-top: 63px;
  }

  .choice-program-form__field-additional {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 18px;
  }

  .choice-program-form__field-additional-item {
    width: 285px;
    margin-top: 32px;
  }

  .choice-program-form__submit-button {
    margin-top: 54px;

    height: 52px;
    width: 283px;

    display: inline-block;
    vertical-align: middle;

    font-size: 20px;
  }

  .choice-program-form__note {
    display: inline-block;
    vertical-align: middle;
    margin-left: 40px;
    margin-top: 50px;

    font-size: 16px;
    line-height: 16px;
    width: 200px;
  }

  .standard-margings {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .choice-program-form__form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .choice-program-form__cat-data-fields {
    min-width: 570px;
    padding-bottom: 0;
  }

  .choice-program-form__choice-aim {
    min-width: 570px;
    margin-left: 80px;
    padding-top: 16px;
    padding-bottom: 0;
  }

  .choice-program-form__owner-data-fieldset {
    margin-top: 53px;
  }

  .choice-program-form__owner-data-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 55px;
    min-width: 1220px;
  }

  .choice-program-form__comments-fieldset {
    min-width: 1220px;
  }

  .choice-program-form__owner-email {
    width: 568px;
  }

  .choice-program-form__owner-phone {
    width: 572px;
  }

  .choice-program-form__field-additional {
    min-width: 1220px;
  }

  .choice-program-form__additional-fieldset {
    margin-top: 45px;
  }

  .choice-program-form__field-additional-item {
    width: 245px;
    margin-top: 35px;
  }

  .choice-program-form__submit-button {
    margin-top: 61px;
    width: 568px;
  }

  .choice-program-form__note {
    margin-left: 65px;
    margin-top: 77px;
  }
}
