.contacts {
  padding: 0 20px;
}

.contacts--background-white {
  background-color: $white;
}

.contacts__dealer-invitation {
  color: $verydarkgray;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  color: $gray;
  font-family: $font-family-secondary;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.contacts__map {
  display: block;
}
