.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__link {
  text-decoration: none;
  color: $gray;
  font-family: $font-family-secondary;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.copyright__logo-img {
  display: block;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 162px;
  }
}
