.logo {
  display: block;
  width: 191px;
  height: 40px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__img {
  width: 191px;
  height: 38px;
}


@media (min-width: $tablet-width) {
  .logo {
    width: 173px;
    height: 60px;
  }

  .logo__img {
    width: 173px;
    height: 58px;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    width: 202px;
    height: 61px;
  }

  .logo__img {
    width: 202px;
    height: 59px;
  }
}
