.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 11px;
  align-items: center;
}

.main-nav__logo {
  margin-left: 20px;
}

.main-nav__toggle {
  padding: 0;
  width: 18px;
  height: 18px;
  border: none;
  margin-right: 20px;
}

.main-nav__site-list {
  margin: 16px 0 0;
}

@media (min-width: $tablet-width) {
  .main-nav__logo {
    margin-left: 0;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__site-list {
    margin-top: 4px;
    margin-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__logo {
    margin-left: 0;
  }

  .main-nav__site-list {
    margin-right: 0;
  }
}
