.page-footer {
  background-color: $lightgray;
  display: flex;
  flex-direction: column;

  /* временно */
  background: transparent;
}

.page-footer__info {
  padding-left: $mobile-margins;
  padding-right: $mobile-margins;
}

@media (min-width: $tablet-width) {
  .page-footer__info {
    padding: 20px $tablet-margins;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__info {
    padding: 20px $desktop-margins;
  }
}
