.page-main__title {
  margin: 0 20px;
  color: $color1;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.page-main__aims {
  margin: 0 20px;
}

.page-main__how-it-works {
  margin: 0 20px 42px;
}

.page-main__additional-products {
  margin: 20px;
}

.page-main__action {
  margin: 39px 20px 35px;
}
