.page-footer {
  background-color: $lightgray;
}

@media (min-width: $tablet-width) {
  .page-footer__info {
    padding: 20px $tablet-margins;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__info {
    padding: 20px $desktop-margins;
  }
}
