.page-header__main-nav {
  //padding: 11px 0 0;
}

@media (min-width: $tablet-width) {
  .page-header__main-nav {
    padding: 24px $tablet-margins 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header__main-nav {
    padding: 54px $desktop-margins 0;
  }

  .page-header {
    &--index-page {
      background-repeat: no-repeat;
      background-position: right top;
      background-size: 720px 696px;
      background-image:
        url("../img/index-background-desktop@1x.jpg"),
        linear-gradient(to right, transparent 0, $green 0);

      @media (min-resolution: $retina-dppx) {
        background-image:
          url("../img/index-background-desktop@2x.jpg"),
          linear-gradient(to right, transparent 0, $green 0);
      }

    }
  }
}
