.section-title {
  position: relative;

  @include clear-margin-padding;

  color: $verydarkgray;
  font-size: 24px;
  font-weight: 400;
  line-height: 25px;

  &::after {
    content: "";
    position: absolute;
    z-index: -2;

    left: 0; //calc(50% - 20px);
    right: calc(50% + 20px);

    //margin-left: -50vw;
    margin-right: -50vw;

    border-top: 3px solid $green;
    top: 15px;
  }

  &--owner .section-title__text {
    width: 205px;
  }
}

.section-title__text {
  position: relative;
  display: inline-block;
  vertical-align: top;
  background-color: $white;

  padding-right: 24px;
}

@media (min-width: $tablet-width) {
  .section-title {
    font-size: 36px;
    line-height: 36px;
    color: $darkgray;
    margin-left: -35px;

    &::after {
      content: "";
      position: absolute;
      z-index: -2;

      left: calc(50% - 20px);
      right: calc(50% + 10px);

      margin-left: -50vw;
      margin-right: -50vw;

      border-top: 3px solid $green;
      top: 20px;
    }

    &--owner .section-title__text {
      width: auto;
    }
  }

  .section-title__text {
    padding-left: 35px;
    padding-right: 35px;
  }
}

@media (min-width: $desktop-width) {
  .section-title {
    @include clear-margin-padding;
    margin-top: 10px;
    border: none;
  }

  .section-title__text {
    margin-left: -35px;
  }
}
