.site-list {
  @include clear-ul-format;
  padding-top: 6px;
}

.site-list__item {
  @include clear-margin-padding;
  border-top: 1px solid $lightgray7;
}

.site-list__item-link {
  text-decoration: none;
  display: block;

  color: $verydarkgray;
  font-family: $font-family-base;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;

  padding-top: 23px;
  padding-bottom: 22px;
  text-align: center;

  &:hover:not(.site-list__item-link--active) {
    opacity: 0.6;
  }

  &:active:not(.site-list__item-link--active) {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 440px;
    padding-top: 0;
  }

  .site-list__item {
    border: none;
  }

  .site-list__item-link {
    padding: 0;
    padding-bottom: 10px;
    color: $darkgray;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;

    &--active {
      border-bottom: 2px solid $green;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 480px;
  }

  .site-list__item-link {
    font-size: 20px;
    line-height: 25px;

    &--index-page {
      color: $white;
      border-bottom-color: $white;
    }
  }
}
