.site-list {
  @include clear-ul-format;
  padding-top: 6px;
}

.site-list__item {
  padding: 0;
  margin: 0;
  color: $verydarkgray;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  border-top: 1px solid #e6e6e6;
}

.site-list__item-link {
  text-decoration: none;
  color: $verydarkgray;
  display: block;
  padding-top: 23px;
  padding-bottom: 22px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
  }

  .site-list__item-link {
    padding: 0;
  }

  .site-list__item {
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item-link {
    color: $white;
  }

}

