.social {
  @include clear-ul-format;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 160px;
  min-height: 62px;
}

.social__item {
  position: relative;

  width: 53px;
  height: 62px;
  vertical-align: middle;
  text-align: center;
}

.social__link {
  display: block;
  width: 53px;
  height: 62px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: $gray2;

  &:hover .social__icon {
    fill: $green;
  }

  &:active .social__icon {
    opacity: 0.3;
  }
}

.social__icon {
  position: absolute;
  fill: $gray2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: $tablet-width) {
  .social {
    padding-left: 30px;
    width: 220px;
  }

  .social__item {
    width: 52px;
  }

  .social__icon {
    &--vk {
      width: 30px;
      height: 16px;
    }

    &--inst {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }
  }
}
