.copyright {
  padding: 20px;
}

.copyright__link {
  text-decoration: none;
  color: $color3;
  font-family: $second-font-family;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.copyright__logo-img {
  display: block;
}
