.site-list {
  @include clear-ul-format;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-list__item {
  padding: 0;
  margin: 0;
  color: $color1;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}

.site-list__item-link {
  color: $color1;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
