/* TODO
- много дублирующего кода в стилях текста. Нужно их сгрупировать и обозвать без привязки к стилям. Как?
 */

@import "normilize";
@import "variables.scss";
@import "mixins";
@import "page-header";
@import "main-banner";
@import "page-main";
@import "site-list";
@import "aims";
@import "how-it-works";
@import "cases";
@import "contacts";
@import "page-footer";
@import "social";
@import "copyright";
@import "catalog";
@import "additional-products";
@import "action";
@import "choice-program-form";

body {
  @include clear-padding-margin;
  font-family: $main-font-family;
  font-weight: 400;
  font-size: 14px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.content-box {
  box-sizing: content-box;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* TODO пока контенер задан так для наглядности */
.container {
  width: 320px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
}

.button {
  text-decoration: none;
  border: none;
}
