$font-family-base: "Oswald", "Arial", sans-serif;
$font-family-secondary: "Arial", sans-serif;

$verydarkgray: #111111;
$darkgray: #222222;
$gray: #444444;
$white: #ffffff;
$lightgray: #f2f2f2;
$green: #68b738;
