$font-family-base: "Oswald", "Arial", sans-serif;
$font-family-secondary: "Arial", sans-serif;

$verydarkgray: #111111;
$darkgray: #222222;
$gray: #444444;
$white: #ffffff;
$lightgray: #f2f2f2;
/* TODO придумать нормальное название */
$lightgray2: #d6d6d6;
$green: #68b738;


$tablet-width: 768px;
$desktop-width: 1440px;

$mobile-margins: 20px;
$tablet-margins: 30px;
$desktop-margins: 110px;

