@import "../variables";

body {
  background: url("../img/dev/cat-energy-form-mobile.psd.png") no-repeat 50% 0;
}

@media (min-width: $tablet-width) {
  body {
    background: url("../img/dev/cat-energy-form-tablet.psd.png") no-repeat 50% 0;
  }
}

@media (min-width: $desktop-width) {
  body {
    background: url("../img/dev/cat-energy-form-desktop.psd.png") no-repeat 50% 0;
  }
}
